<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>job</key>
	<string>Fresher IOS</string>
	<key>age</key>
	<date>2000-02-28T09:01:36Z</date>
	<key>fullname</key>
	<string>Kiều Bá Khôi</string>
</dict>
</plist>
